@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
}

body::-webkit-scrollbar{
  display: none;
}

.cellWithOwnership {
  padding: 5px;
  border-radius: 5px;
}

.cellWithOwnership.public {
  background-color: rgba(0, 128, 0, 0.05);
  color: green;
}

&.pending {
  background-color: rgba(225, 217, 0, 0.05);
  color: goldenrod;
}

.cellWithOwnership.private {
  background-color: rgba(225, 0, 0, 0.05);
  color: red;
}
