.updatenode__controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
  }
  
  .updatenode__controls label {
    display: block;
  }
  
  .updatenode__bglabel {
    margin-top: 10px;
  }
  
  .updatenode__checkboxwrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px){
  .react-flow__nodes{
    display: flex;
    margin-left: -70px;
  }

  .react-flow__edges{
    display: flex;
    margin-left: -70px;
  }
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  .react-flow__nodes{
    display: flex;
    margin-left: 0px;
  }

  .react-flow__edges{
    display: flex;
    margin-left: 0px;
  }
} */


  